.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  .grad{
    border: 1px solid red;
  }
  .grad_white{
    border: 1px solid white;
  }
  .grad_gray{
    border: 1px solid gray;
  }
  .margin-tb-30{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .margin-b-20{
    margin-bottom: 30px;
  }
  .mar-kauf{
    margin-bottom: 100px;
  }
  .base_20{
    flex-basis: 20%;
  }
  .theme_dark{
    background-color: black;
    z-index: -2;
  }
  .theme_gray{
    background-color: rgb(236, 235, 235);
    z-index: -2;
  }
  .theme_header{
    background-color: rgb(231, 230, 228);
    z-index: -2;
  }
  
  .rotation{
    animation: 20s linear 0s infinite rot;
  
  }
  @keyframes rot{
    0%{
      transform: rotate(0deg);
  
    }
    100%{
      transform: rotate(360deg);
  
    }
  
  }

  .content{
    border: 1px solid white ;
    
   
  }